/*
    Pink: #EE048C
    White: #F7F7F5
    Light Grey: #E5E5E5
    Dark Grey: #373737
    Navy: #0F1626
*/
@import url(https://fonts.googleapis.com/css?family=Merienda|Nothing+You+Could+Do|Dancing+Script|Yanone+Kaffeesatz);

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 90%;
    margin: auto;
    background-color: #F7F7F5;
}

#about-content {
    height: 50%;
    width: 100%;
}

#about-content #header-outer {
    height: 100%;
    width: 100%;
}

#about-content #about-header {
    border: 1px solid transparent;
    height: 130px;
    width: 50%;
    position: relative;
    top: 50%;
    margin: auto;
    text-align: center;
    box-shadow: 0px 10px 10px -5px grey;
}

#about-header h1 {
    font-size: 200%;
}

#about-header h2 {
    font-size: 200%;
}

#about-body .body-title {
    font-family: 'Dancing Script';
    font-size: 200%;
    background-color: #0F1626;
    color: #F7F7F5;
    padding: 10px 0px 10px 20px;
}

#about-body h3 {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    font-family: 'Yanone Kaffeesatz';
    font-size: 180%;
    line-height: 40px;
}

#about-body img {
    display: block;
    margin: auto;
    float: left;
    height: 300px;
    margin: 20px 20px 20px 40px;
}

#ideology {
    height: 550px;
    overflow: hidden;
    position: relative;
}

#ideology #more {
    background-color: rgba(0,0,0,.6);
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    transition: 0.2s linear;
}

#ideology #more:hover {
    background-color: rgba(0,0,0,.7);
}

#more i {
    color: #F7F7F5;
    font-size: 300%;
    position: relative;
    top: 10px;
    text-shadow: 0px 3px 3px black;
    transition: 0.2s linear;
}

#more:hover i {
    text-shadow: 0px 2px 2px black;
}

#about-body .box {
    box-shadow: 0px 10px 10px -5px grey;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

#about-body .animate {
    position: relative;
    left: 100%;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

#about-body .animate.bringLeft {
    left: 0%;
    opacity: 1;
}

div#contact.box {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#contact-body {
    display: flex;
    height: 100%;
    width: 100%;
}

.body-half {
    border: 2px solid white;
    height: 100%;
    width: 50%;
    position: relative;
}

#contact-card {
    height: 90%;
    color: #EE048C;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.contact-content {
    height: 100px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    transition: 0.2s linear;
}

.contact-content:hover {
    background-color: rgba(0,0,0,.1);
}

.contact-content i {
    font-size: 50px;
    margin-left: 10%;
    margin-right: 30px;
    padding-top: 20px;
}

.contact-content div {
    padding-top: 10px;
    font-size: 20px;
}

.clear {
    clear: both;
}