/*
    Pink: #EE048C
    White: #F7F7F5
    Light Grey: #E5E5E5
    Dark Grey: #373737
    Navy: #0F1626
*/
@import url(https://fonts.googleapis.com/css?family=Merienda|Nothing+You+Could+Do|Dancing+Script|Yanone+Kaffeesatz);

#galleryPage {
    padding-top: 75px;
}

#galleryPage-images {
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

#galleryPage-images .tabs {
    background-color: #E5E5E5;
    display: flex;
}

#galleryPage-images .tabs .tablinks {
    font-size: 140%;
    padding: 10px 10px;
    background-color: inherit;
    transform: translate(0,0);
    transition: 0.2s linear;
}

#galleryPage-images .tabs .tablinks:focus {
    outline: none;
}

#galleryPage-images .tabs .tablinks:hover {
    background-color: white;
    transform: translate(-2px,-2px);
}

#galleryPage-images .tabs .tablinks.active {
    background-color: #373737;
    color: white;
}

#galleryPage-images .tabs .tablinks.active:hover {
    background-color: #373737;
    transform: translate(0,0);
}

#galleryPage-images .tab-content {
    border: 5px solid #373737;
    border-top: 10px solid #373737;
    padding-bottom: 20px;
    display: none;
    animation: fadeEffect 0.5s;
}

#galleryPage-images .tab-content .image-wrap {
    height: 250px;
    width: auto;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

#galleryPage-images .tab-content .image-wrap .image-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
}

#galleryPage-images .tab-content .image-wrap img {
    height: 100%;
    width: auto;
}

.clear {
    clear: both;
}

@keyframes fadeEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media only screen and (max-width: 768px) {
    #galleryPage-images .image-container {
        height: 800px;
    }
    
    #galleryPage-images .image-wrap {
        height: auto;
        width: 100%;
        margin-left: 0px;
    }
    
    #galleryPage-images img {
        height: auto;
        width: 100%;
    }
}