/*
    Pink: #EE048C
    White: #F7F7F5
    Light Grey: #E5E5E5
    Dark Grey: #373737
    Navy: #0F1626
*/
@import url(https://fonts.googleapis.com/css?family=Merienda|Nothing+You+Could+Do|Dancing+Script|Yanone+Kaffeesatz);

body {
    overflow-x: hidden;
    font-size: 16px;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*    Banner     */
#banner {
    background-image: url(../img/website/vijay-social-welfare-society-children-studying.jpg);
    background-size: cover;
    background-position: 0 0px;
    height: 98%;
    width: 100%;
}

#banner #banner-inner {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}

#banner #banner-inner h1 {
    height: 150px;
    width: 500px;
    position: absolute;
    top: calc(50% - 75px);
    left: 100%;
    font-size: 60px;
    animation: titleEnter 0.5s ease-in-out forwards;
    animation-delay: 200ms;
}

@keyframes titleEnter {
    0% { left: 100%; }
    100% { left: calc(50% - 250px); }
}
/*    Banner ends     */

/*    About     */
#about {
    padding: 40px 0px;
}

#about #about-header h1 {
    font-size: 250%;
}

#about-header h2 {
    font-size: 230%;
}

#about .row h1 {
    font-size: 200%;
    color: #0F1626;
}

#about .row h2 {
    font-size: 180%;
}

#about .box {
    background-color: #E5E5E5;
    width: 90%;
    margin: auto;
    padding: 20px 0px 40px 0px;
    margin-bottom: 40px;
    box-shadow: 0px 20px 10px -10px grey;
}
/*    // About     */

/*    Philosophy     */
#philosophy {
    height: 500px;
}

.item {
    background-color: black;
    height: 410px;
}

.item h2 {
    color: #E5E5E5;
}

.item h2, .item h3 {
    width: 80%;
    margin: auto;
    text-shadow: 
}

.item img {
    width: 100%;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    z-index: -10;
}
/*    // Philosophy     */

/*    Gallery     */
#photos .container {
    padding: 50px 0px;
}

#photos .container img {
    margin: 20px 0px;
    border: 2px solid grey;
    box-shadow: 0px 20px 10px -10px grey;
    transition: 0.15s ease-in-out;
    transform: scale(1);
}

#photos .container img:hover {
    box-shadow: 0px 20px 10px -15px grey;
    transform: scale(0.98);
}

#photos .well {
    border: 5px solid #EE048C;
    border-radius: 10px;
    color: #EE048C;
    font-size: 120%;
    height: 80px;
    transition: 0.2s ease-in;
    position: relative;
    z-index: 2;
}

#photos .well::after {
    content: '';
    height: 100%;
    width: 0%;
    background-color: #EE048C;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.2s ease-in;
}

#photos a:hover .well::after {
    width: 100%;
}

#photos a h2 {
    color: #EE048C;
    position: absolute;
    top: 5%;
    left: 30%;
    z-index: 100;
    font-size: 200%;
    transition: 0.2s ease-in;
}

#photos a:hover h2 {
    color: #F7F7F5;
}

#photos a:hover {
    text-decoration: none;
}
/*    // Gallery     */

/*    Work     */
#work .row {
    padding: 40px 0px;
    position: relative;
}

#work .well {
    border: 5px solid #EE048C;
    border-radius: 10px;
    height: 80px;
    width: 100%;
    position: relative;
}

#work .well::after {
    content: '';
    height: 100%;
    width: 0%;
    background-color: #EE048C;
    transition: width 0.2s ease-in;
    position: absolute;
    top: 0;
    left: 0;
}

#work a:hover .well::after {
    width: 100%;
}

#work h2 {
    position: absolute;
    top: 5px;
    left: 28%;
    color: #EE048C;
    transition: 0.2s ease-in;
}

#work a:hover h2 {
    color: #F7F7F5;
}

#work a h2 span {
    transform: translate(0px, 0px);
    transition: transform 0.2s ease-in;
}

#work a:hover h2 span {
    transform: translate(10px, 0px);
}
/*    // Work     */

#donate {
    padding-bottom: 30px;
}

/*    Footer     */
footer {
    padding: 30px 0px;
    text-align: center;
}

footer img {
    height: 100px;
    width: 100px;
    border: 5px solid #EE048C;
}

footer h1 {
    color: #EE048C;
}

footer h2 {
    color: white;
}
/*    // Footer     */