/*
    Pink: #EE048C
    White: #F7F7F5
    Light Grey: #E5E5E5
    Dark Grey: #373737
    Navy: #0F1626
*/
@import url(https://fonts.googleapis.com/css?family=Merienda|Nothing+You+Could+Do|Dancing+Script|Yanone+Kaffeesatz);

body {
    overflow-x: hidden;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*    Banner     */
#banner {
    background-image: url(../img/website/vijay-social-welfare-society-children-studying.jpg);
    background-size: cover;
    background-position: 0 0px;
    height: 98%;
    width: 100%;
}

#banner #banner-inner {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}

#banner #banner-inner h1 {
    height: 150px;
    width: 500px;
    position: absolute;
    top: calc(50% - 75px);
    left: 100%;
    font-size: 60px;
    animation: titleEnter 0.5s ease-in-out forwards;
    animation-delay: 200ms;
}

@keyframes titleEnter {
    0% { left: 100%; }
    100% { left: calc(50% - 250px); }
}
/*    Banner ends     */