/*
    Pink: #EE048C
    White: #F7F7F5
    Light Grey: #E5E5E5
    Dark Grey: #373737
    Navy: #0F1626
*/
@import url(https://fonts.googleapis.com/css?family=Merienda|Nothing+You+Could+Do|Dancing+Script|Yanone+Kaffeesatz);
body {
    height: 90%;
    width: 100%;
    margin-top: 70px;
}

#joinPage-content {
    height: 100%;
    width: 100%;
    background-color: #EE048C;
}

#joinPage-content #contact-form {
    margin: auto;
    height: auto;
    min-height: 100%;
    width: 80%;
    padding: 2px 10px 40px 0px;
    background-color: #F7F7F5;
    position: relative;
    font-size: 120%;
}

/*    For text inputs     */

#joinPage-content #contact-form .row .col {
    width: 50%;
    float: left;
}

#joinPage-content #contact-form .row .col .text {
    height: 40px;
    width: 65%;
    position: relative;
    margin-top: 10px;
    margin-left: 10%;
}

#joinPage-content #contact-form .row .col:nth-child(1) .text {
    margin-left: 40%;
}

#joinPage-content #contact-form .row .col .text input {
    border: 2px solid #373737;
    height: 100%;
    width: 80%;
    background-color: transparent;
    transition: 0.3s;
}

#joinPage-content #contact-form .row .col .text:hover input {
    border: 2px solid #EE048C;
    color: #EE048C;
}

#joinPage-content #contact-form .row .col .text:hover p {
    border-right: 2px solid #EE048C;
    color: #EE048C;
} 

#joinPage-content #contact-form .row .col .text input:focus {
    outline: none;
    border: 2px solid #EE048C;
    width: 90%;
    color: #EE048C;
}

#joinPage-content #contact-form .row .col .text input:focus + p {
    border-right: 2px solid #EE048C;
    color: #EE048C;
}

#joinPage-content #contact-form .row .col .text p {
    border-right: 2px solid #373737;
    height: 38px;
    width: auto;
    padding: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.3s;
    color: #0F1626;
}
/*    Text inputs end     */

/*    For radio input     */
#joinPage-content #contact-form .row .col .radio {
    width: 60%;
    margin-top: 15px;
    margin-left: 10%;
    color: #0F1626;
    transition: 0.3s;
}

#joinPage-content #contact-form .row .col:nth-child(1) .radio {
    margin-left: 40%;
}

#joinPage-content #contact-form .row .col .radio:hover {
    color: #EE048C;
}

#joinPage-content #contact-form .row .col .radio .radio-button {
    width: 25%;
    float: left;
    margin-left: 25px;
}
/*    Radio inputs end     */

/*    Message     */
#joinPage-content #contact-form .row .col .message {
    width: 65%;
    position: relative;
    color: #0F1626;
    margin-top: 20px;
    margin-left: 10%;
    transition: 0.3s;
}

#joinPage-content #contact-form .row .col:nth-child(1) .message {
    margin-left: 40%;
}

#joinPage-content #contact-form .row .col .message textarea {
    background-color: transparent;
    border: 2px solid #373737;
    width: 80%;
    transition: 0.3s;
}

#joinPage-content #contact-form .row .col .message:hover {
    color: #EE048C;
}

#joinPage-content #contact-form .row .col .message:hover textarea {
    border: 2px solid #EE048C;
    color: #EE048C;
}

#joinPage-content #contact-form .row .col .message textarea:focus {
    outline: none;
    border: 2px solid #EE048C;
    width: 90%;
    color: #EE048C;
}

#joinPage-content #contact-form .row .col .message textarea:focus + p {
    color: #EE048C;
}
/*    Message Ends     */

/*    Submit button     */
#submit {
    border: 2px solid #373737;
    height: 50px;
    width: 100px;
    position: relative;
    top: 20px;
    left: calc(50% - 50px);
    background-color: transparent;
    color: #0F1626;
    font-size: 120%;
    transition: 0.3s;
}

#submit:hover {
    border: 2px solid #EE048C;
    color: #EE048C;
}
/*    Button ends     */

#success {
    display: none;
    margin-top: 30%;
}

#honeypot {
    display: none;
}

.clear {
    clear: both;
}

@media only screen and (max-width: 768px) {
    body {
        height: auto;
    }
    #joinPage-content #contact-form {
        float: none;
        width: 90%;
        padding: 20px 0px 40px 0px;
    }
    
    #joinPage-content #contact-form .row .col {
        width: 100%;
        float: none;
    }

    #joinPage-content #contact-form .row .col .text {
        width: 90%;
    }

    #joinPage-content #contact-form .row .col:nth-child(1) .text {
        margin-left: 10%;
    }
    
    #joinPage-content #contact-form .row .col .radio {
        width: 90%;
    }
    
    #joinPage-content #contact-form .row .col:nth-child(1) .radio {
        margin-left: 10%;
    }

    #joinPage-content #contact-form .row .col .message {
        width: 90%;
    }

    #joinPage-content #contact-form .row .col:nth-child(1) .message {
        margin-left: 10%;
    }
    
    #joinPage-content #contact-form .row .col .message textarea {
        height: 120px;
    }
}