#galleryPage h1 {
    padding-top: 100px;
}

#galleryPage #galleryPage-images {
    width: 85vw;
    margin: auto;
}

#galleryPage #galleryPage-images img {
    border: 1px solid #E5E5E5;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px grey;
    transition: 0.25s;
}

#galleryPage #galleryPage-images img:hover {
    box-shadow: 4px 4px 4px grey;
    transform: translate(-2px,-2px) scale(1.1);
    z-index: 10;
}

@media screen and (max-width:850px) {
    #galleryPage #galleryPage-images img {
        height: auto;
        width: 100%;
    }
}