/*
    Pink: #EE048C
    Light Grey: #E5E5E5
    Dark Grey: #373737
    Navy: #0F1626
*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    position: relative;
    font-size: 16px;
}

.grey {
    background-color: #E5E5E5;
}

.dark-grey {
    background-color: #373737;
}

.navy {
    background-color: #0F1626;
}

.pink {
    background-color: #EE048C;
}

h1 {
    color: #EE048C;
    font-family: "Merienda";
    font-size: 24px;
}

h2 {
    color: #0F1626;
    font-family: "Merienda";
    line-height: 30px;
    font-size: 18px;
}

.navbar {
    box-shadow: 0 2px 5px #404040;
}

.navbar ,.navbar .container {
    background-color: white;
    height: 10vh;
    width: 100%;
}

.navbar-header .navbar-toggle {
    border: 2px solid #EE048C;
    margin-top: 20px;
    transition: 0.5s;
}

.navbar-header .navbar-toggle:hover {
    background-color: #EE048C;
}

.navbar-header .navbar-toggle:hover .icon-bar {
    background-color: white;
}

.icon-bar {
    transition: 0.5s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-4px,4px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-4px,-5px);
}

.navbar-header .navbar-toggle .icon-bar {
    background-color: #EE048C;
}

.navbar-brand img {
    border: 2px solid white;
    height: 50px;
    width: 60px;
    float: left;
}

.navbar-brand p {
    float: left;
    font-size: 160%;
    margin-left: 10px;
    margin-top: 10px;
    color: #EE048C;
    font-family: 'Merienda',sans-serif;
}

#myNavbar {
    background-color: white;
}

#myNavbar ul li {
    margin-top: 10px;
    font-size: 100%;
    font-family: sans-serif;
}

#myNavbar ul li a {
    transition: 0.5s;
}

#myNavbar ul li a:hover {
    color: #EE048C;
    transform: translate(2px,2px);
}

#myNavbar .nav .active a {
    color: #EE048C;
    background-color: white;
}

/*    Navbar ends     */

/*    Banner     */

#banner {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/vijay-social-welfare-society-children-studying.jpg);
    background-size: cover;
}

.parallax {
    background-position: 0 0;
}

#banner-inner {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,255,0.1);
    padding-top: 20%;
}

#banner-inner h1 {
    background-color: rgba(0,200,200,.1);
    padding: 5vh 0;
    height: 30vh;
    width: 50vw;
    margin: auto;
    font-size: 400%;
    color: white;
    text-shadow: 4px 4px black;
    transition: 0.1s;
    font-family: 'Merienda';
    text-transform: uppercase;
}

#banner-inner h1:hover {
    text-shadow: 2px 2px black;
    transform: translate(1px,1px);
}

/*    Banner Ends     */

/*    About     */

#about {
    color: #373737;
}

#about h1 {
    margin-top: 50px;
    font-family: sans-serif;
}

#about h2 {
    font-family: "Merienda";
    font-size: 20px;
    word-spacing: 5px;
}

#about #team {
    margin-top: 50px;
    padding-bottom: 50px;
}

#about #vision {
    background-image: url(../img/vijay-social-welfare-society-planting-trees-1.jpg);
    background-size: cover;
}

#about #vision-inner {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,255,0.1);
}

#about #vision-inner h1 {
    color: #EE048C;
    text-shadow: 2px 2px black;
}

#about #vision-inner h2 {
    color: white;
    text-shadow: 2px 2px black;
}

.vision-box {
    background-color: rgba(0,0,0,0.5);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    box-shadow: 3px 3px 3px black;
    transition: 0.5s;
}

.vision-box:hover {
    background-color: rgba(0,0,0,.7);
}

#vision-vision {
    margin-top: 30px;
}

#vision-support {
    margin-bottom: 30px;
}

/*    About Ends     */

/*    Philosophy     */

#philosophy {
    background-color: white;
}

#philosophy #myCarousel {
    height: 350px;
    width: 100vw;
}

#philosophy #myCarousel h1 {
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

#philosophy #myCarousel h2 {
    color: #EE048C;
}

#philosophy .carousel-inner {
    height: 250px;
}

#philosophy .carousel-indicators {
    height: 20px;
    position: relative;
    top: 0;
}

#philosophy .carousel-indicators li {
    border: 2px solid #0F1626;
}

#philosophy .carousel-indicators .active {
    background-color: #0F1626;
    transform: translate(0,-1px);
}

#philosophy .item h3 {
    width: 80vw;
    margin: auto;
    color: #373737;
}

/*    Philosophy Ends     */

/*    Work     */

#work {
    padding-bottom: 30px;
}

#work h1 {
    color: white;
    margin-bottom: 20px;
    margin-top: 0;
    height: 80px;
    padding-top: 20px;
}

#work .well {
    border: 2px solid #EE048C;
}

#work h2 {
    color: #EE048C;
    font-size: 150%;
    margin-left: -20px;
}

#work .container a {
    text-decoration: none;
}

#work .container a .well {
    transition: 0.5s;
}

#work .container a:hover .well {
    background-color: #EE048C;
    transform: translate(2px,2px);
}

#work .container a:hover h2 {
    color: white;
}

#work .container #well1 #text1, #work .container #well2 #text2 {
    transition: 0.5s;
}

#work .container #well1:hover #text1, #work .container #well2:hover #text2 {
    padding-left: 50px;
}
/*    Work Ends     */

/*    Join     */

#join {
    padding-top: 30px;
    padding-bottom: 40px;
}

#join .container-fluid {
    width: 90vw;
}

.quote h1 {
    font-size: 350%;
    color: #EE048C;
    line-height: 50px;
}

.quote h2 {
    width: 80vw;
    margin: auto;
    line-height: 40px;
}

.quote h3 {
    font-family: "Nothing You Could Do";
    line-height: 50px;
}

#join .container-fluid a {
    border: 2px solid white;
    background-color: #EE048C;
    height: 80px;
    width: 300px;
    border-radius: 10px;
    display: block;
    margin: auto;
    padding: 20px;
    font-size: 150%;
    color: white;
    transition: 0.5s;
}

#join .container-fluid a:hover {
    border: 2px solid #EE048C;
    background-color: white;
    color: #EE048C;
}

#join .container-fluid a button {
    background-color: rgba(0,0,0,0);
}

/*    Join Ends     */

/*    Donate     */

#donate h1 {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#donate .quote {
    width: 90vw;
    margin: auto;
}

#donate .quote h1 {
    color: #EE048C;
    line-height: 0;
}

#donate .quote h2 {
    width: 80vw;
    line-height: 30px;
    font-size: 22px;
}

#donate #donate-content {
    width: 90vw;
}

#donate #donate-content h1 {
    color: #EE048C;
    line-height: 40px;
    margin-top: 0;
}

#donate #donate-content h2 {
    line-height: 30px;
}

#donate #donate-content h2 ul {
    list-style: none;
}

#donate #donate-content h2 li:hover {
    background-color: rgba(100,100,100,0.2);
}

/*    Donate Ends     */

#workPage-banner {
    height: 560px;
    width: 100%;
    background-image: url(../img/vijay-social-welfare-society-join.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}

#workPage-banner .container-fluid {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.1);
}

#workPage-content {
    padding: 0;
    z-index: 10;
}

#workPage-content .navy {
    padding-top: 10px;
    padding-bottom: 10px;
}

#workPage-content .navy h1 {
    color: white;
}

#workPage-content .workPage-projects h1 {
    margin-top: 40px;
    margin-bottom: 20px;
}

#workPage-content .workPage-projects h3 {
    color: #0F1626;
    font-size: 250%;
    font-size: 26px;
}

#workPage-content .workPage-projects h4 {
    color: #373737;
    line-height: 40px;
    font-size: 20px;
}

#workPage-content #row1>div {
    min-height: 500px;
    min-width: 400px;
}

#workPage-content #row2>div {
    min-height: 500px;
    min-width: 400px;
}

#workPage-content #row3>div {
    min-height: 500px;
    min-width: 400px;
}

#workPage-content #row4>div {
    min-height: 250px;
    min-width: 400px;
}

#workPage-content .row .col-right {
    margin-left: 20px;
}

#workPage-content #row5>div {
    min-height: 670px;
}

#workPage-content .workPage-projects>div>div {
    margin-top: 20px;
    transition: 0.25s;
    border-top: 2px solid #EE048C;
    border-bottom: 2px solid #EE048C;
}

#workPage-content .workPage-projects>div>.clearfix {
    border: none;
}

#workPage-content .workPage-projects>div>div:hover {
    background-color: rgba(0,0,0,.2);
    transform: translate(-2px,-2px);
}

#workPage-content .workPage-projects img {
    background-color: white;
    height: 300px;
    width: 400px;
}

#workPage-content #workPage-summer {
    border-top: 10px solid #0F1626;
    margin-top: 30px;
}

#workPage-content #workPage-summer h1 {
    margin-top: 40px;
}

#galleryPage h1 {
    padding-top: 100px;
}

#galleryPage #galleryPage-images {
    width: 85vw;
    margin: auto;
}

#galleryPage #galleryPage-images img {
    border: 1px solid #E5E5E5;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px grey;
    transition: 0.25s;
}

#galleryPage #galleryPage-images img:hover {
    box-shadow: 4px 4px 4px grey;
    transform: translate(-2px,-2px) scale(1.1);
    z-index: 10;
}

@media screen and (max-width:850px) {
    #galleryPage #galleryPage-images img {
        height: auto;
        width: 100%;
    }
}